/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Rammetto+One&display=swap");

/* variable declare */
:root {
  --white: #d9d9d9;
  --red: #8c030e;
  --black: #0d0d0d;
}

body {
  background: rgb(64, 1, 13);
  background: radial-gradient(
    circle,
    rgba(64, 1, 13, 1) 0%,
    rgba(13, 13, 13, 1) 100%
  );
}

.cursor {
  width: 50px;
  height: 50px;
  background-color: white;
  position: fixed;
}
