.about {
  overflow: hidden;
}

.text-slider {
  height: 100px;
  background-color: var(--white);
  display: flex;
  width: 200vw;
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
}

.text-slider .text {
  font-size: 50px;
  width: fit-content;
  margin: 0;
}
